#### 1. Check if a number is even or odd.

In [32]:
num = 7  

if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Odd

#### 2. Find the largest of three numbers entered by the user.

In [16]:
a = int(input())
b = int(input())
c = int(input())
print(max(a, b, c))

8
9
0
9

#### 3. Print all numbers from 1 to N

In [1]:
N = 10  
print(f"Numbers from 1 to {N}:")

for i in range(1, N + 1):
    print(i, end=" ")

Numbers from 1 to 10:
1 2 3 4 5 6 7 8 9 10

#### 4. Print the sum of numbers from 1 to N.

In [3]:
N = int(input())
print(sum(range(1, N+1)))

8
36

#### 5. Count how many digits are in a number.

In [4]:
n = input()
print(len(n))

chanchal
8

#### 6. Check if a number is positive, negative, or zero

In [5]:
n = int(input())
print("Positive" if n>0 else "Negative" if n<0 else "Zero")

-8
Negative

#### 7. Print the multiplication table of a number.

In [6]:
n = int(input())
for i in range(1,11):
    print(n, "*", i, "=", n*i)

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

#### 8. Find the factorial of a number

In [7]:
n = int(input())
f = 1
for i in range(1,n+1):
    f *= i
print(f)

8
40320

#### 9. Reverse a number using a loop.

In [12]:
def reverse_num(n):
    rev = 0
    while n:
        rev = rev*10 + n%10
        n //= 10
    return rev

print(reverse_num(12345))

54321

#### 10. Check if a number is divisible by 5 and 11.

In [14]:
n = int(input())
print("Yes" if n%5==0 and n%11==0 else "No")

100
No

#### 11. Print the first N even numbers

In [18]:
N = int(input())
for i in range(1, N+1):
    print(2*i)

10
2
4
6
8
10
12
14
16
18
20

#### 12. Print all odd numbers between 1 and N

In [19]:
N = int(input())
for i in range(1, N+1, 2):
    print(i)

5
1
3
5

#### 13. Find the sum of digits of a number

In [31]:
num = 9875
total = 0

while num > 0:
    digit = num % 10
    total += digit
    num //= 10

print("Sum of digits:", total)

Sum of digits: 29

#### 14. Check if a number is a palindrome.

In [1]:
n = input()
print("Palindrome" if n == n[::-1] else "Not Palindrome")

poop
Palindrome

#### 15. Count vowels in a string

In [29]:
s = "beautiful day"
vowels = "aeiouAEIOU"
count = 0

for ch in s:
    if ch in vowels:
        count += 1

print("Vowel count:", count)

Vowel count: 6

#### 16. Count consonants in a string

In [33]:
s = "Good Morning"
vowels = "aeiouAEIOU"
count = 0

for ch in s:
    if ch.isalpha() and ch not in vowels:
        count += 1

print("Consonant count:", count)

Consonant count: 7

#### 17. Check if a character is a vowel or consonant

In [3]:
ch = input().lower()
print("Vowel" if ch in "aeiou" else "Consonant")

a
Vowel

#### 18. Print each character of a string on a new line.

In [4]:
s = input()
for ch in s:
    print(ch)

Chanchal
C
h
a
n
c
h
a
l

#### 19. Print the ASCII value of a character.

In [5]:
print(ord(input()))

9
57

#### 20. Convert Celsius to Fahrenheit.

#### 21. Find the smallest of three numbers

In [7]:
a = int(input())
b = int(input())
c = int(input())
print(min(a,b,c))

3
5
6
3

#### 22. Check if a number is prime

In [28]:
num = 29   

if num < 2:
    print("Not Prime")
else:
    is_prime = True
    for i in range(2, num):
        if num % i == 0:
            is_prime = False
            break

    if is_prime:
        print("Prime")
    else:
        print("Not Prime")

Prime

#### 23. Print all prime numbers from 1 to N.

In [27]:
N = 50   

for num in range(2, N + 1):
    is_prime = True
    for i in range(2, num):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(num, end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

#### 24. Find the power of a number using a loop.

In [26]:
base = 2
exp = 5  

result = 1

for _ in range(exp):
    result *= base

print("Power:", result)

Power: 32

#### 25. Print the Fibonacci series up to N terms.

In [25]:
N = 10   

a, b = 0, 1

for _ in range(N):
    print(a, end=" ")
    a, b = b, a + b

0 1 1 2 3 5 8 13 21 34

#### 26. Find the greatest common divisor (GCD) of two numbers.

#### 27. Find the least common multiple (LCM) of two numbers

#### 28. Calculate simple interest.

In [13]:
p = float(input())
r = float(input())
t = float(input())
print((p*r*t)/100)

9
2
8
1.44

#### 29. Calculate compound interest.

In [14]:
p = float(input())
r = float(input())
t = float(input())
print(p*(1+r/100)**t - p)

20
56
88
1.976945290207795e+18

#### 30. Check if a number is an Armstrong number.

#### 31. Print all Armstrong numbers between 1 and 1000.

#### 32. Swap two numbers using a function

In [15]:
def swap(a, b):
    return b, a
print(swap(10, 20))

(20, 10)

#### 33. Check if a substring exists inside a string.

In [23]:
text = "hello world"
sub = "world"

if sub in text:
    print("Substring found")
else:
    print("Substring not found")

Substring found

#### 34. Count how many times a character appears in a string

In [22]:
text = "banana"
char = "a"
count = 0

for c in text:
    if c == char:
        count += 1

print("Count:", count)

Count: 3

#### 35. Remove all spaces from a string

In [1]:
s = input()
print(s.replace(" ", ""))

My    Name is        Chanchal
MyNameisChanchal

#### 36. Convert a string to uppercase without using .upper()

#### 37. Find the largest number in a list

In [1]:
my_list = [2,3,6,8,13,45,89]
largest_number=max(my_list)
print(largest_number)

89

#### 38. Find the smallest number in a list

In [2]:
my_list = [2,3,6,8,13,45,89]
smallest_number=min(my_list)
print(smallest_number)

2

#### 39. Calculate the average of numbers in a list

In [21]:
nums = [10, 20, 30, 40, 50]

average = sum(nums) / len(nums)

print("Average:", average)

Average: 30.0

#### 40. Count negative numbers in a list.

In [20]:
nums = [2, -4, 7, 0, -9, -1, 5]
count = 0

for n in nums:
    if n < 0:
        count += 1

print("Negative numbers:", count)

Negative numbers: 3

#### 41. Count positive numbers in a list

In [10]:
nums = [2, -4, 7, 0, 9, -1]
count = 0

for n in nums:
    if n > 0:
        count += 1

print("Positive numbers:", count)

Positive numbers: 3

#### 42. Check if a list is sorted.

In [11]:
lst = [1, 2, 3, 4, 5]

if lst == sorted(lst):
    print("List is sorted")
else:
    print("List is not sorted")

List is sorted

#### 43. Reverse a list using a loop

In [12]:
lst = [10, 20, 30, 40]
rev = []

for i in range(len(lst)-1, -1, -1):
    rev.append(lst[i])

print("Reversed list:", rev)

Reversed list: [40, 30, 20, 10]

#### 44. Find the second largest number in a list.

In [13]:
lst = [10, 50, 30, 40, 20]
second_largest = sorted(lst)[-2]
print("Second largest:", second_largest)

Second largest: 40

#### 45. Find the second smallest number in a list

In [14]:
lst = [10, 50, 30, 40, 20]
second_smallest = sorted(lst)[1]
print("Second smallest:", second_smallest)

Second smallest: 20

#### 46. Print a pattern of stars (triangle).

In [15]:
for i in range(1, 6):
    print("*" * i)

*
**
***
****
*****

#### 47. Print a pattern of numbers (1, 12, 123...)

In [16]:
for i in range(1, 6):
    for j in range(1, i+1):
        print(j, end="")
    print()

1
12
123
1234
12345

#### 48. Write a function to check if a number is perfect.

#### 49. Write a function to return the square of a number

In [18]:
def square(n):
    return n * n

print(square(7))

49

#### 50. Write a function to check if a string is symmetric

In [19]:
def is_symmetric(s):
    return s == s[::-1]

print(is_symmetric("level"))      # True
print(is_symmetric("python"))     # False

True
False